<h1>Update Task</h1>

<%= form_for(@task) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :details %>
    <%= f.text_field :details %>
  </p>

  <p>
    <%= f.check_box :completed %> Task is completed?
  </p>
  <%= f.submit %>
<% end %>
