<h1>Create a Task</h1>
<div class="containers">
  <%= form_for(@task) do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
  <p>
    <%= f.label :details %>
    <%= f.text_field :details %>
  </p>
  <%= f.submit %>
</div>
<% end %>
